.App {
  text-align: center;
}

.mydiv{
  display: flex;
  justify-content: space-around;
  margin: 10px 7%;
  box-shadow: 1px 1px 5px grey;
  padding: 10px ;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.item{
   width: 30%;
   margin: 5px;
}
button{
  padding: 5px;
  width: 200px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
}
input{
  outline: none;
  border-radius: 20px;
  box-shadow: 1px 1px 5px grey;
  font-size: 20px;
}

span{
  font-size: 20px;
}